body{
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 2);
    max-width: 1920px;
    max-height: 1000px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
    align-items: center;
    justify-content: center;
    text-align: justify;

    
}
p{
   font-size: 13px;
   line-height: 10px;
   background: url(mai2.jpg);
   background-attachment: center;
   -webkit-background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   -webkit-background-clip: text;
   background-attachment: center;
   -webkit-text-fill-color: rgba(255, 255, 255, 0.1); 
}
